<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCphRnayTrwg81RjDJRZ6l-GByBR0gO71Q</string>
	<key>GCM_SENDER_ID</key>
	<string>776281928984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karan-verma.TestCase-CRUD</string>
	<key>PROJECT_ID</key>
	<string>testcase-crud</string>
	<key>STORAGE_BUCKET</key>
	<string>testcase-crud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776281928984:ios:ff0d40390692b2cc219a6d</string>
</dict>
</plist>